<div class="contents-layout">
    <div class="Siltek-content-layout">
 <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;"><b><span style="font-family: 'Open Sans', Arial, 'Arial Unicode MS', Helvetica, sans-serif; font-size: 13px;font-weight:bold;color:#3AA9D2;font-size: 22px;">Contact Us&nbsp; </span></p><br>
   	
 
<%= render 'form', :inquiry => @inquiry %>
</div>
</div>